## Test Report 


| Test Case ID 	| Description	| Test Responsibility 	| Test Cycle 1 |  Comments 	 | Test Responsibility |  Test Cycle 2 | Comments 
|--------------	|------------	|----------------------	|------------	 | ----------  | ------------------- | ------------- | --------
| S2_1          | Validating the User Login | Pooja   |  Pass        |             |  Preyasha           | Pass          |
| S2_2          | Checking if the landing page loads  | Chris        |  Pass       |      | Pooja        | Pass          |
| S2_3          | Checking if the setting link is working | Erica  | Fail | Yet to create settings page | Preyasha | Pass | 
| S2_4          | Validate the Setting page toggles |  Pooja        | Fail     | Yet to create the setting page | Preyasha | Pass | 
| S2_5          | Test the Settings page categories | Preyasha      | Fail     | Yet to integrate the categories | Chris | Pass |
| S2_6          | Validate if the landing page has News Articles | Erica | Fail | News API yet to be integrated | Chris | Pass 
