<!DOCTYPE html>

<head>
    <title>Success! You're logged in.</title>

</head>

<body> 

    
    <div class="login-section">
        <h1>Success! You're logged in.</h1>
        <form action="/login">

            <input type="submit">
        </form>
    </form>



    </div>

</body>