<!DOCTYPE html>

<head>
    <title>Login</title>

</head>

<body> 

    
    <div class="login-section">
        <h1>Welcome.</h1>
        <form action="/login">

            <input type="submit" value="Log in or Sign Up"> 
        </form>
    </form>



    </div>

</body>