<!DOCTYPE html>

<head>
    <title>Login</title>

</head>

<body> 

    
    <div class="login-section">
        <h1>Create your username and password.</h1>

        <form action="/auth" method="post">

        <label for="username">Choose Your Username:</label>

        <input type="text" id="username">

        <label for="password">Password:</label>

        <input type="text" id="password">
        <br>

        <label for="password">Re-Enter Your Password:</label>

        <input type="text" id="password">

        <button onclick="myFunction()">Login</button>

    </form>



    </div>

</body>