<!DOCTYPE html>

<head>
    <title>Sign Up</title>

</head>

<body> 

    
    <div class="login-section">
        <h1>Sign up:</h1>

        <h1>Set your username and password.</h1>

        <form action="/signUp" method="post">

        <label for="username">Username:</label>

        <input type="text" name="username" placeholder="Username" required>

        <label for="password">Password:</label>

        <input type="password" name="password" placeholder="Password">

        <input type="submit" value="sign up">

        <label id="errorLabel"></label>
        
        <a href="http://localhost:3000/login">Existing user? Log in here.</a>


    </form>

    </div>

</body>