<!DOCTYPE html>

<head>
    <title>Sign Up</title>

</head>

<body> 

    
    <div class="login-section">
        <h1>Goodbye!</h1>

        <h1>You've been signed out.</h1>

        <form action="/signOut" method="post">

        <input type="submit" value="sign up">


        <a href="http://localhost:3000/login">Existing user? Log in here.</a>


    </form>

    </div>

</body>